input[type=text],[type=tel],[type=email],[type=password], select, textarea{
    /* width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; */

    width: 81%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;
    resize: vertical;
}
  



  nav.navbar.navbar-inverse {
  background-color:rgb(199, 216, 236) ;
    /* border-color: #d197cc29; */
    padding-left: 200px;
    padding-right: 300px;
    border: none;
}
  
  /* Style the label to display next to the inputs */
  label {
    padding: 14px 14px 14px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit],[type=reset] {
    background-color: #4CAF50;
    color: white;
    /* padding: 12px 20px;
    border: none;
    border-radius: 4px; */
    cursor: pointer;
    /* float: center; */
    padding: 12px 32px;
    border: none;
    border-radius: 25px;
    /* margin-left: 400px;
   margin-right: 100px; */

    /* margin-right: 250px;
    margin-left:480px; */

  }
  
  /* Style the container */
  .container-fluid{
    border-radius: 5px;
    /* background-color: #e6a4a4; */
   

    padding: 20px;
    padding-right: 25px;
    padding-left: 111px;
    margin-right: auto;
    margin-left: auto;

  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 17%;
    margin-top: 8px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  div.row{
    margin-right: 36px;
    margin-left: 44px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  form{
    margin-right: 250px;
    margin-left:480px;
    border: 50px;
    /* background-image: url(/images/bg\ image.jpg); */
    background-repeat: no-repeat;
    background-position: 200px;
image-resolution: 100px;
    
  }
  body{
    background-image: url(/images/bg\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  