pre{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: darkviolet;
   
}

h4{
    margin-right: 20px;
  
}
form{
    
    /* margin-right: 900px;
    padding-left: 125px;
    padding-top: 100px;
    margin-left: 400px;
    padding-bottom:125px ;
    */


    border:1px solid;
    margin-left: 325px;
    margin-right: 425px;
    padding-bottom: 40px;
    padding-top: 15px;
    text-align: center;
    background-color: rgb(221, 184, 115);
    color: white;
}
input[type="submit"]{
    background-color: skyblue;
    width: 80px;
    height: 25px;
    border: none;
    margin-right: 30px;
    text-align: center;

}
body{
    
    
}